
#video {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video .wrap.flex-column-center {
  height: 100%;
}

#video .wrap h2.h6 {
  color: #0e9447;
}

#video .wrap p.h3 {
  transform: translateY(-20px);
}


#video .wrap video {
    
}

#video .wrap video source {
    
}



/* 비지니스 */
#business {
  
}

#business div.wrap.flex-column {
  height: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}

#business div.wrap h2.h6 {
  color: #0e9447;
}

#business .wrap p.h3 {
  transform: translateY(-20px);
  position: relative;
}

#business .wrap ul.flex {
  width: 100%;
  justify-content: center;
}

#business .wrap ul.flex li {
  width: 47%;
  position: relative;
}
#business .wrap ul.flex li:nth-of-type(1) {
  /*! transform: translateY(40px); */
  padding-right: 40px;
}

#business .wrap ul.flex li a {
  text-align: center;
}
#business .wrap ul.flex li a::before {
  content: "";
  display: block;
  height: 328px;
  background-repeat: no-repeat;
  /*! background-size: contain; */
  border-radius: 20px;
}
#business .wrap ul.flex li:nth-of-type(1) a::before{
  background-image: url(../img/main_1.jpg);
  background-position: center;
}
#business .wrap ul.flex li:nth-of-type(2) a::before {
  background-image: url(../img/main_2.jpg);
}

#business .wrap ul.flex li a h3.h5 {
  font-weight: bold;
  padding-top: 16px;
}

#business .wrap ul.flex li a p.p {
    
}


/* 제품소개 */
/* section의 ID 선택자 */
#video {

}


#video .wrap {
  height: 100%;
}

#video .flex-column-center {

}

/* 섹션 내 h2 태그 */
#video h2.h6 {
}

#video p.h3 {
  transform: translateY(-20px);
}


#video iframe {

}


/* products */
#products {
  
  position: relative;
  /*! height: 100%; */
}
#products .wrap {
  max-width: 100%;
  position: relative;
  height: 100%;
}
#products .wrap .productsAni {
  
  height: 100%;
}
#products .wrap article {
  height: 100vh;
  padding: 0 calc((100vw - 1280px) / 2);
  gap: 15px;
}

#products .wrap article.pani{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#products .wrap article.pani0 {
  background-image: url(../img/ms3_01.jpg);
}
#products .wrap article.pani1 {
  background-image: url(../img/ms3_02.jpg);
}
#products .wrap article.pani2 {
  background-image: url(../img/ms3_03.jpg);
}
#products .wrap article.pani3 {
  background-image: url(../img/ms3_04.jpg);
}
#products .wrap article.pani4 {
  background-image: url(../img/ms3_05.jpg);
}
#products .wrap article.pani5 {
  background-image: url(../img/ms3_06.jpg);
}
#products .wrap article.pani6 {
  background-image: url(../img/ms3_07.jpg);
}

#products .wrap article h2 {
  color: #0e9447;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}
#products .wrap article.slick-active h2 { /* 나타나는 애니메이션*/
  opacity: 1;
  transform: translateY(0px);
}

#products .wrap article h3 {
  opacity: 0;
  transform: translateY(20px);
  transition: 1.5s;
}
#products .wrap article.slick-active h3 { /* 나타나는 애니메이션*/
  opacity: 1;
  transform: translateY(0px);
}

#products .wrap article p {
  opacity: 0;
  transform: translateY(20px);
  transition: 2s;
}
#products .wrap article.slick-active p { /* 나타나는 애니메이션*/
  opacity: 1;
  transform: translateY(0px);
}

#products .wrap article a {
  font-weight: bold;
  transform: translateY(20px);
}



/* 도트 */
#products .wrap .wprogress {
  position: absolute;
  bottom: 100px;
  left: calc((100vw - 1280px) / 2);
}
#products .wrap .slick-dots {
  
  width: fit-content;
  transition: 1s;
  position: static;
}
#products .wrap .slick-dots li {
  font-size: 12px;
  color: initial;
  width: 89px;
}

#products .wrap .slick-dots button {
  font-size: 12px;
  color: initial;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#products .wrap .slick-dots button::before {
  position: static;
}


#products .circle2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -3px;
  z-index: 3;
  left: 0;
  right: 0;
  width: 50%;
}
#products .circle2 span {
  width: 10px;
  height: 10px;
  display: block;
  background-color: orange;
}
.slick--visual__etc.productP {
  position: relative !important;
  left: calc((100vw - 1280px) / 2);
  width: 50%;
  transform: translateX(0);
  }
.slick--visual__etc.productP.circle {
 
}
.slick--visual__etcproductP.circle span {
  width: 10px;
  height: 10px;
  display: block;
  background-color: orange;
}

/* 뉴스 */
#news {
  
  display: flex;
  align-items: center;
  background: #eee;
}
#news .wrap {
  
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  /*! background-color: #ccc; */
  column-gap: 132px;
}
#news .wrap h2 {
  
  grid-column: 1;
  grid-row: 1;
  color: #0e9447;
}
#news .wrap h3 {
  grid-column: 1;
  grid-row: 2;
}
#news .wrap h3 span {
  
}
#news .wrap p {
  grid-column: 1;
  grid-row: 3;
}
#news .wrap ul {
  grid-column: 2;
  grid-row: 1 / span 4;
  border-top: 2px solid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 20px;
}
#news .wrap ul li {
  
}
#news .wrap ul li:nth-child(1) {
  grid-column: 1 / span 4;
  grid-row: 1;
}
#news .wrap ul li:nth-child(2) {
  grid-column: 1 / span 4;
  grid-row: 2;
}
#news .wrap ul li:nth-child(3) {
  grid-column: 1 / span 4;
  grid-row: 3;
}
#news .wrap ul li:nth-child(4) {
  grid-column: 1 / span 4;
  grid-row: 4;
}
#news .wrap ul li:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}
#news .wrap ul li:nth-child(6) {
  grid-column: 2;
  grid-row: 5;
}
#news .wrap ul li:nth-child(7) {
  grid-column: 3;
  grid-row: 5;
}
#news .wrap ul li:nth-child(8) {
  grid-column: 4;
  grid-row: 5;
}
#news .wrap ul li:nth-child(n+5) {
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
}

#news .wrap ul li > a {
  display: flex;
  justify-content: space-between;
}
#news .wrap ul li:nth-child(-n+4) a {
  line-break: 3;
  border-bottom: 1px solid;
  line-height: 65px;
}

#news .wrap ul li:nth-child(-n+4) > a p {
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#news .wrap ul li:nth-child(n+5) a{
  background-image: url(../img/news_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
}

#news .wrap ul li > a p strong {
  margin-right: 29px;
}
#news .wrap ul li > a time {
  margin-right: 20px;
}
#news .wrap > a {
  grid-column: 1;s
  grid-row: 4;
  font-weight: bold;
  align-self: end;
}

/* aside */

aside {
  position: fixed;
  left: 50px;
  top: calc(50% - 80px);
}
aside h2 {
  
}
aside ul {
  
}
aside ul li {
  margin: 10px 0;
}
aside ul li a {
  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  transition: 0.5s;
}
.current {
  background-color: #999 !important;
}















